html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    font-family: sans-serif;
}

/* No tocar éstas opciones, dan estilo a la barra de scroll */
body::-webkit-scrollbar {
    width: 8px; 
    height: 8px;
}
body::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border-radius: 4px;
}
body::-webkit-scrollbar-thumb:hover {
    background: #b2b2b2;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
}
body::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}
body::-webkit-scrollbar-track {
    background: white;
}
body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

button {
    border: none;
    outline: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    background: transparent;
    transition: all 0.3s ease-in-out;
}

input {
    border: none;
    outline: none;
    padding:10px;
    transition: all 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

form {
    margin:10px 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

hr {
    text-align: center;
    width: 99%;
    margin: 40px auto 20px auto;
}

.margin_none {
    margin: 0;
}

.center-text {
    text-align: center;
}

.justify-text {
    text-align: justify;
}

.hor_separator {
    border-right: 2px solid #D4D4D4;
}

.ver_separator {
    border-left: 2px solid #D4D4D4;
}

.top_separator {
    border-top: 2px solid #D4D4D4;
}

.down_separator {
    border-bottom: 2px solid #D4D4D4;
}

/* VARIABLES ------- */

:root{
    --color_primary: #354A9B;
    --color_secondary: #FAF203;
    --color_tertiary: #BFBFBF;
    --color_subtitle: #616161;
}

/* FIN VARIABLES --- */

.color_primary {
    color: var(--color_primary);
}

.color_secondary {
    color: var(--color_secondary);
}

.color_tertiary {
    color: var(--color_tertiary);
}

.color_subtitle {
    color: var(--color_subtitle);
}

.color_white {
    color: white;
}

.navBar {
    width: 99%;
    padding: 0px 10px;
    position: fixed;
    background: var(--color_primary);
}

.content {
    padding-top: 70px;
    padding-bottom: 50px;
}

.logo_img{
    margin-bottom:0;
}

.logo_text {
    color: var(--color_secondary);
}

@media(max-width:720px){
    .navBar {
        padding: 0px 10px 20px 10px;
        width: 95%;
    }
    .content {
        padding-top: 130px;
    }
    .logo_img {
        margin-bottom: 10px;
    }
    hr {
        width: 90%;
    }
}

.input_primary {
    border: 0;
    width: 85%;
    margin: 5px 0px;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0,0,0,.2);
}

.input_primary:focus {
    box-shadow: 0px 1px 10px rgba(0,0,0,.2);
}

.btn_icon_primary {
    color: white;
    line-height: 0;
    padding: 10px;
    background: #01C764;
    border-radius: 50%;
}

.btn_icon_primary > .material-icons {
    font-size: 20px;
}

.btn_icon_primary:hover {
    background: #01AE58;
}

.btn_icon_danger {
    color: white;
    line-height: 0;
    padding: 10px;
    background: #FC0A0A;
    border-radius: 50%;
}

.btn_icon_danger > .material-icons {
    font-size: 20px;
}

.btn_icon_danger:hover {
    background: #9E0606;
}

.btn_text_primary {
    color: white;
    width: 80%;
    font-size: .9em;
    padding: 10px;
    margin: 10px 0px;
    background: #01C764;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn_link_secondary {
    width: 80%;
    padding: 10px;
    color: #737373;
    margin: 10px 0px;
    font-size: .9em;
    border-radius: 20px;
    display: inline-block;
    background: #D4D4D4;
}

.bg_login {
    background: url('../img/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media(max-width:720px){
    .bg_login {
        background: #F2F2F2;
    }
}

.big_hora {
    font-size: 3rem;
    margin: 30px 0 0 20px;
    text-align: center;
}

.btn_text_secondary {
    width: 90%;
    margin: 3%;
    color: var(--color_primary);
    padding: 10px 20px;
}

.btn_text_secondary:hover {
    background: #D4D4D4;
}

.box_default {
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
}

.img_profile {
    width: 40px;
    height: 40px;
    text-align: center;
    max-width: 40px;
    max-height: 40px;
    overflow: hidden;
    background: white;
    border-radius:50%;
}

.img_profile > img {
    height:100%;
    text-align: center;
}

.titulo {
    font-size: 2em;
    margin-bottom:0;
    margin-top:20px;
    margin-left: 5px;
    font-weight: 500;
}

footer {
    color: white;
    padding: 20px 10px;
    background: var(--color_primary);
}